doctype html
html
    head
        title Image annotator
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
            h1 Error page