include ./annotator.pug
            br
            div.row
                div.col
                    a(href="/download/"+id, target="_blank").badge.badge-success Download code
                    a(href="/annotator/"+id, target="_blank").link.badge.badge-info Get link