.contentImage #annotator_image {
    cursor: crosshair;
}

.borderContent{
    padding: 10px;
    border: 1px solid #ccc;
}

#color, #bcolor{
    height: 39px;
}

.contentAnnotator button{
    opacity: 0.6;
}

.contentAnnotator button.select{
    opacity: 1;
}

.createcontent{
    text-align: center;
}

.error{
	color: #ff0000;
    font-size: 12px;
}


.hidden{
	display: none;
}

button{
	cursor: pointer;
}

#listAnnotator .label{
	cursor: pointer;
}